@import url(https://fonts.googleapis.com/css?family=Inconsolata);
.intro-section {
    background: url(/web/img/blurred-background-2.jpg);
    background-size: cover;
    height: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
body {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    overflow-x: hidden; /*Hides extra content to be fully responsive*/
}
html {
    overflow-x: hidden; /*Hides extra content to be fully responsive*/
}
hr {
    border: 1px solid #ececec;
    position: relative;
}
.inline:hover {
    cursor: pointer;
}

.paddzzz {
    margin-top: 35px;
    margin-bottom: 35px;
}
#languages {
    padding-bottom: 200px;
    padding-top: 200px;
    background-color: #b0bec5;
}
#languages a {
    color: white;
}
@media screen and (max-width: 768px) {
    .alternatt {
        display: block
    }
}
@media screen and (min-width: 767px) {
    .alternatt {
        display: none;
    }
}
code {
    padding 8px;
    color: firebrick;
    background-color: #ececec;
    border-radius: 2px;
    font-family: 'Inconsolata', ;
}
.indicator {
    background-color: #2196f3 !important;
}
abbr {
    cursor: help;
}
.dropdown-content {
    width: 100%;
}
.brand-logo {
    font-weight: 600;
    font-size: 20px !important;
}
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
main {
    margin-left: 240px;
}
 @media screen and (max-width: 992px) {
      main  {
        margin-left: 0;
      }
    }
