body {
    font-family: 'Roboto', arial, sans-serif;
    color: #333 !important
}
p {
    color: #696969;
    font-weight: 500 !important;
}
.vcenter {
    vertical-align: middle;
}
.brand-logo {
    font-size: 22px !important;
}
.button-collapse i {
    font-size: 24px !important
}
.hero {
    background: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg) center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    line-height: 500px;
    margin-bottom: 50px;
}
nav a {
    color: #616161 !important
}
.hero-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    width: 70%;
}
.hr {
    border-bottom: solid 6px #03A9F4;
    width: 70px;
}
.hr-h5 {
    border-bottom: solid 6px #03A9F4;
    width: 30px;
}
h5 {
    font-size: 24px !important;
}
.color {
    color: #3f51b5;
}
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
ul.pagination > .active {
    background: #039BE5 !important;
}
nav {
    background: #e0e0e0 !important;
}
.highlight {
    text-align: center;
    padding: 10px;
    background: #3f51b5;
    width: 350px;
    border-radius: 3px;
}
.colored-highlight {
    text-align: center;
    padding: 10px;
    background: #616161;
    width: 350px;
    border-radius: 3px;
    color: white !important;
}
.inline {
    display: inline-block !important;
    color: #616161;
    vertical-align: middle;
}
img.radius {
    border-radius: 2px;
}
.border {
    padding: 20px;
}